.grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}

.colorsImg {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}
